<div class="modal fade" id="viewNote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <div class="w-100 p-3 summary-match">
                    <div class="row align-items-center">
                        <div class="col text-center">
                            <span class=fs-3>`+h_team.name+`</span>
                        </div>
                        <div class="col-3 text-center">
                            `+status.scoreStr+`
                        </div>
                        <div class="col text-center">
                            <span class=fs-3>`+a_team.name+`</span>
                        </div>
                    </div>                                 
                </div>
            </div>
            <div class="modal-body" id="stats">
                <div class="stat p-3">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>