<nav class="navbar serieAsecondary justify-content-center" id="round">
    <div class="container-fluid text-center">
        <div class="col" id="back">
            <i class="fa-sharp fa-solid fa-chevron-left"></i>
        </div>
        <div class="col" id="round_nr">
        </div>
        <div class="col" id="next">
            <i class="fa-sharp fa-solid fa-chevron-right"></i>
        </div>
    </div>
</nav>