<div class="row text-center" >
    <div class="col stat__categoryName">
        `+ (values[0]? values[0] : ' ')+`
    </div>
    <div class="col stat__categoryName">
        `+title+`
    </div>
    <div class="col stat__categoryName">
        `+(values[1]? values[1] : ' ')+`
    </div>
</div>

