<!DOCTYPE html>
<html lang = "en">
    <head>
        <%- include('../views/partials/head'); %>
    </head>
    <body class ="serieAprimary">
        <%- include('../views/partials/navbar'); %>
        <section class="container-fluid py-5 d-flex flex-column justify-content-center align-items-center" id="matches">
        </section>
    </body>
</html>